<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User page</title>
</head>
<body>
<div align="center">
    <h1><span th:text="${user.getName()}"></span></h1>
    <div>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            <td><span th:text="${user.getId()}"></span></td>
            <td><span th:text="${user.getName()}"></span></td>
            <td><span th:text="${user.getLastName()}"></span></td>
            <td><span th:text="${user.getEmail()}"></span></td>
            <td><span th:text="${user.getRoles()}"></span></td>
        </table>
    </div>
</div>
<h1 align="center"><a href="/logout">Logout</a></h1>
</body>
</html>